.logo {
    height: 150px;
    width: 150px;
    margin: 15px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon {
    border: none;
    background: none;

    & rect{
        fill: grey;
    }
}

.nav {
    display: none;
}

@media screen and (min-width: 641px) and (max-width: 1024px){

    .nav {
        display: block;

        & li {
            display: inline;
            margin: 5px;
            font-size: 20px;
        }
    
        a:hover{
            color: palevioletred;
        }
    }

    .hamburger-icon{
        display: none;
    }
}